.flex-left img{
    width: 90%;
    height: 60%;
  }
.flex-right{
    display: flex;
    flex-direction: column;
}
form{
    width: 80%;
    display: flex;
    flex-direction: column;
}
form label{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 90%;
}
.points{
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.points a{
    color: white;
    text-decoration: underline;
}
form input{
    width: 75%;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #9DD317;
}
.btn{
    margin-top: 1%;
    width: 120px;
    height: 40px;
    color: black;
    font-weight: 700;
    background: linear-gradient(96.73deg, #96FF00 0.52%, #BBFE00 38.86%, #C0FD00 69.95%, #4FF100 100%);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 5%;
}
.btn:hover{
    transform: scale(1.1);
}