.flex-left-right .flex-left h1 {
    color: white;
    font-size: 90px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: left;
}
.title{
    animation: dropdown 2.95s infinite;  
}
@keyframes dropdown{
    0%{
        opacity: 0.5;
        transform: translateY(-30px);
    }
    50%{
        opacity: 1;
    }
    100%
    {
        transform: translateY(0px);
    }
}
#title{
    background: linear-gradient(90deg, #9DD317 3.37%, #36E25C 78.92%, #32EC93 98.18%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
#uc_super_fun_liquid_button_elementor39409 {
    background: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 50px;
    position: relative;
    display: inline-block;
    color: #000000;
    text-decoration: none;
    z-index: 2;
}
#uc_super_fun_liquid_button_elementor39409 canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 250px;
    height: 100px;

}
#uc_super_fun_liquid_button_elementor39408 {
    background: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 50px;
    position: relative;
    display: inline-block;
    color: #000000;
    text-decoration: none;
    z-index: 2;
}
#uc_super_fun_liquid_button_elementor39408 canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 250px;
    height: 100px;

}
.bgspiral{
    background-image: url(/assets/img/spiral.svg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}
.flex-left-right .flex-left iframe{
    width: 80%;
}
@media (max-width:1000px)
{
    .flex-left{
        justify-content: flex-end;
    }
    .flex-left-right .flex-left h1{
        font-size: 50px;
    }
    .btn-wrap{
        width: 100%;
    }
}
@media (max-width:450px)
{
    #uc_super_fun_liquid_button_elementor39409 canvas {
        width: 200px;
        height: 80px;
    }
    #uc_super_fun_liquid_button_elementor39408 canvas {
        width: 200px;
        height: 80px;
    }
}
@media (max-width: 376px)
{
    .flex-right{
        display: none;
    }
    .flex-left{
        justify-content: center;
    }
}
.box{
    border: 3px solid;
    border-color: #9DD317;
    border-radius: 20px;
    background: linear-gradient(136.65deg, rgba(255, 255, 255, 0) 0%, rgba(247, 254, 233, 0) 73.62%, #AADC3E 116.8%);
}
form input{
    
    background-color: transparent;
    border: 2px white solid;
    border-radius: 10px;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 90%;

}

form label{
color: white;
font-family: 'Poppins', sans-serif;
font-weight: 200;
font-size: 90%;
}

form button{
color: white;
font-family: 'Poppins', sans-serif;
font-weight: 500;
width: 50%;
background: linear-gradient(90.85deg, #9DD317 0%, #36E25C 79.69%, #32EC93 100%);
border-radius: 10px;
height: 150%;

}
.terms{
display: flex;
justify-content: flex-start;
width: 100%;
}