iframe{
 width: 90%;
 height: 50%;   
}
.morphing {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    top: 12.5%;
    font-size: 90px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, #9DD317 3.37%, #36E25C 78.92%, #32EC93 98.18%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: left;
    height: 100%;
    width: 100%;
    /* filter: contrast(25) blur(1px); */

}
.screen2-left iframe{
    width: 80%;
}

.word {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    top: 30%;
    left: 10%;

   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: word 8s infinite ease-in-out;
}

.word:nth-child(1) {
    animation-delay: -8s;
}

.word:nth-child(2) {
    animation-delay: -6s;
}

.word:nth-child(3) {
    animation-delay: -4s;
}

.word:nth-child(4) {
    animation-delay: -2s;
}


  
@keyframes word {

    0%,
    5%,
    100% {
        filter: blur(0px);
        opacity: 1;
    }

    20%,
    80% {
        filter: blur(1em);
        opacity: 0;
    }
}







.uc-liquid-button-wrapper {
    position: absolute;
    top: 62.5%;
    left: 6.5%;
    display: flex;

}


#uc_super_fun_liquid_button_elementor39409 {
    background: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 50px;
    position: relative;
    display: inline-block;
    color: #000000;
    text-decoration: none;
    z-index: 2;
}

#uc_super_fun_liquid_button_elementor39409 canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 250px;
    height: 100px;

}

.screen2-p{
    font-family: 'Poppins', sans-serif;
    color: white;
    max-width: 80%;
    text-align: left;

}

.box{
    border: 3px solid;
    border-color: #9DD317;
    border-radius: 20px;
}

form input{
    
        background-color: transparent;
        border: 2px white solid;
        border-radius: 10px;
        padding: 12px 15px;
        margin: 8px 0;
        width: 100%;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        font-size: 90%;

}

form label{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 90%;
}

form button{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width: 50%;
    background: linear-gradient(90.85deg, #9DD317 0%, #36E25C 79.69%, #32EC93 100%);
    border-radius: 10px;
    height: 150%;

}
.terms{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

@media(max-width: 1250px) {
    .morphing{
        top: 15%;
    }
}

@media (max-width: 950px) {
    .morphing {
        font-size: 80px;
        text-align: center;
        left: 0%;
        top: 50%;
    }

    .word {
        width: 100%;
        left: 0%;
        top: 20%
    }
    .screen2{
        flex-direction: column;
    }
    .uc-liquid-button-wrapper{
        top: 50%;
        justify-content: center;
        align-items: center;
        width: 100%;
        left: 0%;
    }
    .screen2-right{
        align-items: center;
    }
    .screen2{
        text-align: center;
        font-size: 40px;
    }
    .screen2-p{
        text-align: center;
    }
}

@media (max-width:800px){
    .morphing{
        top: 50%
    }
  
}
@media (max-width: 700px) {
    .morphing {
        font-size: 75px;
        text-align: center;
        left: 0%;
        
    }
    .flex-left-right .flex-left h1 {
        font-size: 75px;
        text-align: center;
        left: 32.5%;
        top: 27.5%;    
    }
}

@media (max-width: 600px) {
    .morphing {
        font-size: 65px;
        text-align: center;
        left: 0%;
        top: 60%;
    }

}

@media (max-width: 550px) {
    .morphing {
        font-size: 55px;
        text-align: center;
        left: 0%;
        top: 50%;
    }

    .uc-liquid-button-wrapper{
        top: 45%;
    }
}

@media (max-width: 450px) {
    .morphing {
        font-size: 45px;
        text-align: center;
        left: 0%;
        top: 35%;
    }

    .word {
        width: 100%;
        left: 0%;
        top: 35%;
    }
    .uc-liquid-button-wrapper{
        top: 50%;
    }
}

@media (max-width: 399px) {
    .morphing {
        font-size: 40px;
        text-align: center;
        left: 0%;
        top: 40%;
    }


    .word {

        top: 32%;
    }
}

@media (max-width: 376px) {
    .morphing {
        font-size: 40px;
        text-align: center;
        top: 30%;
        left: 0%;
    }

    .word {

        top: 47%;
    }

    .uc-liquid-button-wrapper{
        top: 47.5%;
    }

    #uc_super_fun_liquid_button_elementor39409 canvas{
        width: 130px;
        height: 55px;
    }
}
@media (max-width: 361px)
{

    .morphing{
        top: 30.5%;
    }
}
