.flex-left-right .flex-left h1 {
    color: white;
    font-size: 90px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: left;
}

.rotate{
    background: linear-gradient(90deg, #9DD317 3.37%, #36E25C 78.92%, #32EC93 98.18%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.rotate::before{
    content: "Cryptos";
    animation: change infinite 12s;
}
@keyframes change {
  
    0% {
        content: "Cryptos";
    }
    25%{
        content: "NFTs";
    }
    50% {
        content: "Metaverse ";
    }

    75% {
        content: "Trading";
    }
}

#uc_super_fun_liquid_button_elementor39409 {
    background: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 50px;
    position: relative;
    display: inline-block;
    color: #000000;
    text-decoration: none;
    z-index: 2;
}
#uc_super_fun_liquid_button_elementor39409 canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 250px;
    height: 100px;

}
#uc_super_fun_liquid_button_elementor39408 {
    background: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 50px;
    position: relative;
    display: inline-block;
    color: #000000;
    text-decoration: none;
    z-index: 2;
}
#uc_super_fun_liquid_button_elementor39408 canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 250px;
    height: 100px;

}

.flex-left-right .flex-left iframe{
    width: 90%;
}
@media (max-width:1000px)
{
    .flex-left{
        justify-content: flex-end;
    }
    .flex-left-right .flex-left h1{
        font-size: 50px;
    }
    .btn-wrap{
        width: 100%;
    }
    .flex-left-right .flex-left iframe{
        width: 80%;
    }
}
@media (max-width:450px)
{
    #uc_super_fun_liquid_button_elementor39409 canvas {
        width: 200px;
        height: 80px;
    }
    #uc_super_fun_liquid_button_elementor39408 canvas {
        width: 200px;
        height: 80px;
    }
}
@media (max-width: 376px)
{
    .flex-right{
        display: none;
    }
    .flex-left{
        justify-content: center;
    }
}

.lpheading1{
    opacity: 0;
    position: absolute;
    top: 6.5em;
    left: 2em;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.lpscroll1{
    opacity: 0;
    position: absolute;
    top: 18.5em;
    left: 4em;
    font-size: 50%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.lpscroll-img1{
    width: fit-content;
    opacity: 0;
    position: absolute;
    top: 3em;
}
.lpscroll-img2{
    width: 60%;
    opacity: 0;
    position: absolute;
    top: 5.5em;
}
@media (max-width: 1025px){
    .lpheading1{
        font-size: 30px;
    }
    .lpscroll1{
        font-size: 40%;
    }
    .lpscroll-img1{
        width: 75%;
    }
}

@media (max-width: 821px){
    .content-box{
        width: 100%;
        height: 40%;
        justify-content: center;
    }
    .lpheading1{
        left: initial;
        top: initial;
        text-align: center;
    }
    .lpscroll1{
        font-size: 40%;
        width: 90%;
        left: initial;
        top: 17em;
        text-align: center;
    }
    .lpscroll-img1{
        top: initial;
        width: 50%;
    }
    .images-box{
        height: 60%;
        width: 100%;
        justify-content: flex-start;
    }
}

@media (max-width: 450px)
{

    .images-box{
        justify-content: center;
    }
    .lpscroll-img1{
        width: 70%;
    }
}
@media (max-width: 376px)
{

    .lpscroll1{
        top: 11em;
    }
}