.spacer{
	height: 20vh;
	width: 100%;
}
.flex-col-4{
    width: 100%;
    padding-top: 5%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.col-img-4{
    height: 100px;
    width: 120px;
}
.col-4-item:hover .col-img-4{
    transform: translateY(-10px);
}
@media (max-width:600px)
{
	.flex-col-4{
        flex-direction: column;
        justify-content: center;
    }
    .col-img-4{
        margin-bottom: 10%;
    }
}