.spacer{
	height: 20vh;
	width: 100%;
}
.two-col{
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card-wrap{
	width: 400px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.circle{
	height: 20px;
  	width: 20px;
  	background: linear-gradient(96.73deg, #96FF00 0.52%, #BBFE00 38.86%, #C0FD00 69.95%, #4FF100 100%);
	transform: translateX(0px);
	transition: 0.5s;
  	border-radius: 50%;
}
.title-text{
	font-family: 'Poppins', sans-serif;
    transform: translateY(0px);
    transition: 0.5s;
    font-weight: 700;
    color: white;
    background: linear-gradient(90deg, #9DD317 3.37%, #36E25C 78.92%, #32EC93 98.18%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
}
.subtext-text{
	opacity: 0;
    transform: translateY(0px);
    transition: 0.5s;
    width: 90%;
	
}
.card-wrap:hover .circle
{
	transform: translateX(-150px);
}
.card-wrap:hover .title-text
{
	transform: translateY(-25px);
}
.card-wrap:hover .subtext-text
{
	opacity: 1;
    transform: translateY(-25px);
}
@media (max-width:800px)
{
	.two-col{
		flex-direction: column;
	}
	.subtext-text{
		text-align: center;
	}
}